body {
	background-image: url('../images/concert.jpg');
	background-size: cover;
}

#btn-login, #btn-signup {
	display: none;
}

#index-container {
	text-align: center;
}

#index-heading {
	display: none;
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 72px;
	margin-bottom: 50px;
	margin-top: 50px;
}

#index-subheading {
	display: none;
	margin-bottom: 50px;
}